<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="DBCS" connectionString="Data Source=.;Initial Catalog=JRLGL-KA;User Id=SA;Password=sa@123;" providerName="System.Data.SqlClient" />
    <add name="DBCSINV" connectionString="Data Source.;Initial Catalog=JRLINV;User Id=SA;Password=sa@123;" providerName="System.Data.SqlClient" />
    <add name="DBCSAR" connectionString="Data Source=.;Initial Catalog=JRLAR;User Id=SA;Password=sa@123;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>